<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <title></title>
  </head>
  <body>

    <section class="container"> <!--CONTENEDOR COMPLETO-->

<!--A-->
      <section class="row">
        <section class="col-12">A</section>
      </section>

<!--F-->
      <section class="row">
        <section class="col-5">F</section>
      </section>

<!--B-->
      <section class="row">
        <section class="col-7">B</section>
        <section class="row cont">
          <section class="col-4 E">E</section>
          <section class="col-4 D">D</section>
          <section class="col-4 C">C</section>
        </section>
      </section>
    </section>
  </body>
</html>
