<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Desktop to movil</title>
  </head>
  <body>
    <section class="container">
      <article class="a format format-mobil-a">A</article>
      <article class="b format format-mobil-b">B</article>
      <article class="c format format-mobil-c">C</article>

    </section>

  </body>
</html>
