body{
  margin: 0;
  padding: 0;
}
.container {
    margin: 7px 7px;
    display: grid;
    grid-template-columns: repeat(12);
    grid-template-rows: 150px 490px;
    grid-gap: 7px;
    grid-template-areas:
        "a a a a a a a a a a a a"
        "b b b b b b b b c c c c";
}

.format{
  color: white;
  font-family: "Handlee";
  font-size: 9em;
  text-align: center;

}

.a{
  grid-area: a;
  background-color: yellow;
}

.b{
  grid-area: b;
  background-color: #27DAEC;
}

.c{
  grid-area: c;
  background-color: #E486EA;
}

@media screen and (max-width: 768px) {
    .container {
      margin: 3px 3px;
      grid-template-columns: repeat(1);
      grid-template-rows: 150px 340px 188px;
        grid-template-areas:
            "a a a a a a a a a a a a"
            "b b b b b b b b b b b b"
            "c c c c c c c c c c c c";
    }
    .format-mobil-a{
      line-height: 180px;
    }
    .format-mobil-b{
      line-height: 380px;
    }
    .format-mobil-c{
      line-height: 188px;
    }
}
